#jinja2: line_statement_prefix: "%", line_comment_prefix: "##"
# {{ ansible_managed }}

% if traefik_static_config is defined
{{ traefik_static_config }}
% else
# Here is located the static configuration
% endif
